## GIT CONFIG
# To be stored in / added to .gitconfig in user's home directory (~)

# equivalent of
# git config --global user.name "Phil Gibbins"
[user]
    name = Phil Gibbins
	email = scoobster17@hotmail.co.uk

# equivalent of
# git config --global alias.st "status"
[alias]
	br = branch
    ch = checkout
    cm = commit
    st = status
    sw = switch
    cpk = cherry-pick

[pull]
    rebase = true

# equivalent of
# git config --global credential.helper 'store --file ~/.git-credentials'
# [credential]
#     helper = store --file ~/.git-credentials
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main

# TODO: find a way to utilise $PROJECTS_DIR env var here. May need to use Git config CLI to do this
# [includeIf "gitdir:$PROJECTS_DIR"/work/"]
#	 path = $PROJECTS_DIR"/work/.gitconfig"
[includeIf "gitdir:~/Documents/projects/work/"]
    path = ~/Documents/projects/work/.gitconfig